RewriteEngine On



RewriteRule ^student-detail/([0-9a-zA-Z_-]+)$ student-detail.php?detail=$1 [NC,L]
RewriteRule ^admin-detail/([0-9a-zA-Z_-]+)$ admin-detail.php?detail=$1 [NC,L]

RewriteRule ^request-detail/([0-9a-zA-Z_-]+)$ request-detail.php?requestD=$1 [NC,L]
